* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-container {
    background-color: #E5E000;
    color:#fff;
    font-family: Helvetica;
    font-size: 50px;
    height: 200px;
    margin: auto;
    display: flex;
    align-items: center;

  }

  .header {
    margin-left: 80px;
  }

  .picture {
    height: 1080px;
    background: url(Images/img.jpg) no-repeat;
    background-position: center;
    background-size: cover;

  }

  .subtitle-container {
    background-color: #E5E000;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .subtitle {
    color:#fff;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 700;
    margin-left: 80px;
  }

  .text-container {
    margin: auto;
  }

  .text {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 50px;
    margin-top: 70px;
    margin-left: 80px;
    margin-right: 80px;
  }

  .title {
    margin-top: 110px;
  }

  .footer {
    background-color: #E5E000;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-left: 80px;
  }

  .basics {
    color:#fff;
    font-family: Helvetica;
    font-size: 50px;
    margin-right: 80px;
  }